---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title="Welcome to Astro.">
  <header class='min-h-screen bg-kilamHome bg-cover bg-center bg-no-repeat'>
    <div class='flex-col'>
      <img src='../../public/KILAMWhite.png' alt='The White Logo of Kilam'>
      <h1 class='text-white text-5xl'>CREA CON NOSOTROS</h1>
    </div>
    <NavBar />
  </header>
  <main class='min-h-screen'>
    
  </main>


</Layout>
