---
---

<nav class='sticky w-full flex top-5 justify-center'>
  <ul class='flex p-2 justify-around text-center bg-slate-400 rounded-full border-4 border-slate-900 w-1/4'>
    <li class='border-r-2 border-black w-1/4'>
      <a href='/'>Inicio</a>
    </li>
    <li class='border-r-2 border-black w-1/4'>
      <a href='/about'>Acerca de</a>
    </li>
    <li class='border-r-2 border-black w-1/4'>
      <a href='/projects'>Proyectos</a>
    </li>
    <li class='w-1/4'>
      <a href='/contact'>Contacto</a>
    </li>
  </ul>
</nav>